h2#ModalTitle Add a category
form
  .row: .small-12.columns
    label
      | Category Name
      input#category-name(name="category-name" type="text" placeholder='Category Name')
  .row: .small-12.columns
    input(type="submit" value="Create").button.expand
