h2#ModalTitle Add a project
form
  .row: .small-12.columns
    label
      | Project Name
      input#project-name(name="project-name" type="text" placeholder='Project Name')
  .row: .small-12.columns
    input(type="submit" value="Create").button.expand
