head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title budge-it
  meta(name='description', content='Budge-it')
  meta(name='viewport', content='width=device-width, initial-scale=1')

template(name='ApplicationLayout')
  .fixed.contain-to-grid
    nav.top-bar(data-topbar role='navigation')
      ul.title-area
        li.name: h1
          +linkTo(route="home")
            | Budge It
        li.toggle-topbar.menu-icon: a(href='#'): span Menu

      section.top-bar-section
        ul.left: li(class="{{isActiveRoute regex='category'}}")
          +linkTo(route="category-home")
            | Categories

      section.top-bar-section
        ul.left: li(class="{{isActiveRoute regex='project'}}")
          +linkTo(route="project-home")
            | Projects

        ul.right
          if currentUser
            li: a(href='#') User_id: #{currentUser._id}
          +atNavButton

  section(role='main')
    .row: .small-12.columns
      +yield

template(name='home')
  h1 Budge It!
  p This is the main page - it's pretty neat.
