h1 All Projects
+each this
  .panel.callout
    .row
      .small-8.columns
        h4
          +linkTo(route="project" data=this)
            | #{this.name}
      .small-4.columns.text-right $#{this.finalCost}
